body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.event-container {
  width: 80%;
  align-content: center;
  margin: auto;
}

.event-container form {
  margin: auto;
  align-content: center;
}

.event-container .comic {
  width: 30%;
  float: left;
  margin: auto 1.6%;
}

.event-container .comic img {
  width: 100%;
}


.event-characters {
  width: 80%;
  align-content: center;
  margin: auto;
}

.event-character {
  width: 30%;
  float: left;
  margin: auto 1.6%;
  height: 450px;
}

.event-character img {
  width: 100%;
}

.comic-container {
  width: 80%;
  align-content: center;
  margin: auto;
}

.comic-container form {
  margin: auto;
  align-content: center;
}

.comic-container .comic {
  width: 30%;
  height: 400px;
  float: left;
  margin: 10px 1.6%;
}

.comic-container .comic img {
  /* width: 100%; */
  width: 200px;
  height: 300px;
}

.character-container {
  width: 80%;
  align-content: center;
  margin: auto;
}

.character-comics {
  width: 80%;
  align-content: center;
  margin: auto;
}

.comic {
  width: 30%;
  float: left;
  margin: 10px 1.6%;
}

.comic img {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  body .comic {
    height: 200px;
  }
}

@media only screen and (min-width: 501px) {
  .comic {
    width: 40%;
    height: 250px;
  }

  .comic img {
    width: 100%;
    /* height: 50%; */
  }
}


.home-container {
  width: 80%;
  align-content: center;
  margin: auto;
}

.home-img-container {
  width: 30%;
  height: 400px;
  float: left;
  margin: 10px 1.6%;
}

.home-img-container img {
  width: 100%;
}

